{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table" action="/quote" method="get">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{symbol_stock}}</th>
          <td>{{name_stock}}</td>
          <td>{{price_stock}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href = "/quote">Return to quotes</a>
{% endblock %}