{% extends "layout.html" %}

{% block title %}
    Sold stocks
{% endblock %}

{% block main %}
    <table class="table" action="/sell" method="get">
      <thead>
        <tr>

          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Shares</th>
          <th scope="col">Total cost</th>
          <th scope="col">Balance</th>


        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">{{symbol}}</th>
          <td>{{name}}</td>
          <td>{{price_stock}}</td>
          <td>{{share_stock}}</td>
          <td>{{total_share_stock}}</td>
          <td>{{balance}}</td>

        </tr>
      </tbody>

    </table>
    <br>
    <a href = "/sell">Continue selling</a>
{% endblock %}